@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.none {
  display: none !important;
}

html { 
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #ffabc6;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 100px;
}



.btn {
  padding: 20px 50px;
  font-family: 'Lato';
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff427f;
  border: none;
  cursor: pointer;
  width: 240px;
  height: 60px;
  transition: background-color 0.2s ;
}

.btn:hover {
  background-color: #ff719f;
}

.btn:active {
  background-color: #f1004e;
}

.btn--light {
  background-color: #fff;
  color: #ec5598;
}

.btn--light:hover {
  background-color: #cfcfcf;
}

.btn--light:active {
  background-color: #afafaf;
}

.title {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-wrap {
  text-align: center;
  margin-bottom: 40px;
}




.flower {
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

.flower::before, .flower::after{
  content: "";
  background-color: #ff427f;
  width: 150px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
}

.flower::before {
  right: calc(100% + 7px);
}

.flower::after {
  left: calc(100% + 7px);
}



.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}



.link {
  font-size: 16px;
  text-transform: uppercase;
  color: #ff427f;
  border: 1px solid #ff427f;
  border-radius: 5px;
  width: 246px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: color 0.2s, border-color 0.2s;
}

.link:hover {
  color: #ff719f;
  border-color: #ff719f;
}

.link:active {
  color: #f1004e;
  border-color: #f1004e;
}

.socials__link svg {
  fill: #ec5598;
}

.socials__link:hover svg {
  fill: #ff719f;
}

.socials__link:active svg {
  fill: #f1004e;
}

/* ---------------------- header --------------------- */

.header {
  padding: 20px 0;
}



.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Lora';
  font-weight: 500;
  font-size: 30px;
  color: #ff327f;
}

.header__nav {
  text-transform: uppercase;
}

.header__list {
  list-style-type:none;
  display: flex;
  gap: 30px;
}

.header__list a {
  font-size: 16px;
}

.header__list-item:hover a{
  color: #a1a1a1;
}
.header__list-item:active a{
  color: #ff327f;
}



/* ---------------main-------------- */

.welcome {
  color: #fff;
  padding: 150px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/welcome-bg.jpg);
  background-size: cover;
  background-position: center top;
} 



.welcome p {
  font-size: 30px;
  margin-bottom: 60px;
}

.welcome__title {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 60px;

}

.welcome__title span::selection {
  background-color: #e4e4e477;
}

.welcome__title span {
  color: #ffabc6;
}

.about-us__container {
  display: flex;
  gap: 20px;
}

.about-us__images-wrap {
  display: flex;
  gap: 20px;
}


.about-us__column {
  width: 265px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-us__column img {
  width: 100%;
  object-fit: cover;

}

.about-us__column--2-pic img {
  height: auto;
}


.about-us__desc {
  position: relative;
}

.about-us__desc::after {
  content: url('./img/ring-1.png');
  position: absolute;
  bottom: 10px;
  right: 10px;
}


.about-us__subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #ff427f;
  margin-bottom: 5px;
}


.about-us__title {
  letter-spacing: normal;
}

.about-us__text p{
  font-size: 18px;
  line-height: 1.6;
}

.about-us__text p + p{
  margin-top: 10px;
}

.about-us__text {
  margin-bottom: 40px;
}



.cards-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 30px 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 1s;
}

.card {
  width: 360px;
  height: 440px;
  position: relative;
  padding-right: 30px;
  padding-bottom: 40px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__desc {
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 5;
  padding: 20px 30px 15px 20px;
}

.card__link-wrap {
  text-align: right;
  position: relative;
}

.card__link-wrap::before{
  content: "";
  position: absolute;
  background-color: #ff427f;
  width: 30px;
  height: 1px;
  right: 31%;
  bottom: 50%;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.card__text {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.4;
}

.card__more-link {
  font-size: 14px;
  color: #ff427f;
  
}

.card__more-link:hover {
  color: #ec5598;
}

.card__more-link:active {
  color: #f1004e;
}







.portfolio__title-wrap {
  position: relative;
}

.portfolio__title-wrap::before {
  content: url("/img/ring-2.png");
  position: absolute;
  left: 0;
}

.portfolio__ring {
  position: absolute;
  left: 0;
  top: 0;
}

.portfolio__media {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
}

/* .portfolio__media > * + * {
  margin-top: 2px;
} */

.video {
  height: 500px;
  position: relative;
}

.video__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.video__play {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.video__play-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video__play-btn:hover {
  animation: scale-change 0.5s infinite alternate;
}

@keyframes scale-change {
  form {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}

.portfolio__row {
  height: 250px;
  display: flex;
  gap: 20px;
  /* margin-top: 20px; */
}

.portfolio__row:nth-child(odd) {
  flex-direction: row-reverse;
}

.portfolio__img {
  width: calc(30% - 10px);
  object-fit: cover;
}

.portfolio__img:nth-child(1) {
  width: calc(70% - 10px);
}

.portfolio__img--pos--top {
  object-position: 0 -50px;
}



.testimonial span {
  color: #ec5598;
}

.testimonial_container {
  display: flex;
  justify-content: space-between;
}

.testimonial__img {
  width: 400px;
  height: 510px;
  object-fit: cover;
  object-position: -100px;
}

.testimonial__img-wrap {
  position: relative;
  padding-left: 55px;
  padding-top: 55px;
}

.testimonial__img-wrap::before {
  content: "";
  width: 400px;
  height: 510px;
  background-color: #ec5598;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
}

.testimonial-text {
  width: 50%;
}

.testimonial__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.testimonial__desc blockquote {
  margin: 0;
}

.testimonial__desc p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}

.testimonial__desc {
  margin: 0;
  margin-bottom: 20px;
}

.testimonial__autor cite{
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.testimonial__autor-title {
  font-size: 16px;
}




.inst {
  height: 360px;
  display: flex;
}

.inst img {
  width: 25%;
  object-fit: cover;
}




.cta {
  margin: 0;
  padding: 70px 0;
  background-color: #ec5598;
  color: #fff;
}

.cta__conatiner {
  text-align: center;
  width: 770px;
}

.cta__title {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
}

.cta__desc {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}






/* ---------------footer-------------------- */

.footer {
  background-color: #454545;
  color: #e8e8e8;
  padding: 80px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer__desc > * + * {
  margin-top: 15px;
  width: 275px;
}

.footer__logo {
  color: #ec5598;
}

.footer__text {
  font-size: 16px;
  line-height: 1.4;
}

.socials {
  display: flex;
  gap: 20px;
}

.copy {
  line-height: 1.4;
}

.copy a {
  color: #ec5598;
}

.footer a:hover {
  color: #ff719f;
}

.footer a:active {
  color: #f1004e;
}



.footer ul {
  list-style: none;
}

.footer__list {
  display: flex;
  gap: 100px;
}

.footer__list-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__list-inner {
  margin-top: 20px;
}

.footer__list-inner a {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #cfcfcf;
}

.footer__list-inner li + li {
  margin-top: 15px;
}


/* ---------------------------adaptive---------------------- */

@media (max-width: 1150px) {
  .container {
    width: 100%;
  }

  

  .about-us__title {
    font-size: 30px;
  }
  .about-us__ring {
    width: 140px;
  }
}

@media (max-width:1000px) {
  .header__nav {
    display: none;
  }

  .header button {
    display: none;
  }

  section {
    margin-bottom: 80px ;
  }

  .welcome {
    padding: 100px 0;
  }

  .about-us__column--2-pic {
    display: none;
  }

  .about-us__column {
    width: 100%;
    flex-grow: 1;
  }

  .about-us__desc {
    align-items: center;
  }

  .card {
    width: 350px;
  }
}

